<!-- Modal  All Drinks -->
div(class="modal fade" id="allDrinksModal" tabindex="-1" aria-labelledby="allDrinksLabel" aria-hidden="true")
 div(class="modal-dialog")
   div(class="modal-content")
     div(class="modal-header")
       h5(class="modal-title" id="allDrinksLabel") GET ALL THE DRINKS!!
       button(type="button" class="close" data-dismiss="modal" aria-label="Close")
     div(class="modal-body") This link will take you to a page of all drinks listed in the Simple Drinks API. This is api is includes name of drink, alcohol, garnish and abv listed in json format.
     div(class="modal-footer")
       button(type="button" class="btn btn-secondary" data-dismiss="modal") Cheers
<!-- Modal Drinks By Alcohol -->
div(class="modal fade" id="drinksByAlcohol" tabindex="-1" aria-labelledby="alcoholLabel" aria-hidden="true")
 div(class="modal-dialog")
   div(class="modal-content")
     div(class="modal-header")
       h5(class="modal-title" id="alcoholLabel") GET DRINKS BY ALCOHOL NAME!!
       button(type="button" class="close" data-dismiss="modal" aria-label="Close")
     div(class="modal-body") This link will take you to all the drinks made with the alcohol added to the url. All drinks will be in json format and will return with name, alcohol used, most popular garnish and abv.
     div(class="modal-footer")
       button(type="button" class="btn btn-secondary" data-dismiss="modal") Gon Bay
<!--  Modal Put Drinks -->    
 div(class="modal fade" id="putDrinks" tabindex="-1" aria-labelledby="putLabel" aria-hidden="true")
  div(class="modal-dialog")
   div(class="modal-content")
     div(class="modal-header")
       h5(class="modal-title" id="putLabel") PUT THE DRINKS!!
       button(type="button" class="close" data-dismiss="modal" aria-label="Close")
     div(class="modal-body") change data???????????????????????????????????????
     div(class="modal-footer")
       button(type="button" class="btn btn-secondary" data-dismiss="modal") Skål
<!--  Modal Post Drinks --> 
div(class="modal fade" id="postDrinks" tabindex="-1" aria-labelledby="postLabel" aria-hidden="true")
 div(class="modal-dialog")
   div(class="modal-content")
     div(class="modal-header")
       h5(class="modal-title" id="postLabel") POST DRINKS!!
       button(type="button" class="close" data-dismiss="modal" aria-label="Close")
     div(class="modal-body") Add a drink to Simple Drinks API. All post must include {name:"xxxx", alcohol:"xxxx", garnish:"xxxx", and abv:"xxxx"}. All drinks should be simple and only include one type of alcohol.
     div(class="modal-footer")
       button(type="button" class="btn btn-secondary" data-dismiss="modal") Proost
<!--  Modal Delete Drinks -->    
 div(class="modal fade" id="deleteDrinks" tabindex="-1" aria-labelledby="deleteLabel" aria-hidden="true")
  div(class="modal-dialog")
   div(class="modal-content")
     div(class="modal-header")
       h5(class="modal-title" id="deleteLabel") DELETE DRINKS!!
       button(type="button" class="close" data-dismiss="modal" aria-label="Close")
     div(class="modal-body") Deletes a api from .....
     div(class="modal-footer")
       button(type="button" class="btn btn-secondary" data-dismiss="modal") Salud   