html
    include partials/head.pug  

        body
            div
                table(class="table")
                    thead(class="thead-dark")
                        tr
                            th(scope="col") METHOD
                            th(scope="col") ROUTE
                            th(scope="col") RETURN
                            th(scope="col") TEST
                    tbody
                        tr
                            th(scope="col") GET
                            th(scope="col") /
                            
                        tr
                            th(scope="col") GET
                            th(scope="col") /name
                            th(scope="col") Find all Drinks
                        tr
                            th(scope="col") GET
                            th(scope="col") /alcohol
                            th(scope="col") Find drink by alcohol
                        tr
                            th(scope="col") POST
                            th(scope="col") /name
                            th(scope="col") Find drink by name
                            
                        tr
                            th(scope="col") PUT
                            th(scope="col") /name
                            th(scope="col") Change drink information by name
                        tr
                            th(scope="col") DELETE
                            th(scope="col") /name
                            th(scope="col") Delete by name




         
                   
                   
            
script(src='https://code.jquery.com/jquery-3.2.1.slim.min.js' integrity='sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN' crossorigin='anonymous')
script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js' integrity='sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q' crossorigin='anonymous')
script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js' integrity='sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl' crossorigin='anonymous')