html
   head
        include partials/head.pug
        
        h1  SIMPLE DRINKS API
            p some words about my api
        body
            
            div
                table(class="table")
                    thead(class="thead-dark")
                        tr
                            th(scope="col") METHOD
                            th(scope="col") ROUTE
                            th(scope="col") RETURN
                            th(scope="col") TEST
                              
                        
                    tbody
   
                        tr
                            th(scope="col" class="badge badge-pill badge-primary") GET
                                
                            th(scope="col") /drinks
                            th(scope="col") Find all Drinks
                            th(scope="col") 
                                

                        tr
                            th(scope="col" class="badge badge-pill badge-primary") GET
                            th(scope="col") /drinks/alcohol
                            th(scope="col") Find drink by alcohol
                        tr
                            th(scope="col" class="badge badge-pill badge-success") POST
                            th(scope="col") /drinks
                            th(scope="col") Find drink by name
                            
                        tr
                            th(scope="col" class="badge badge-pill badge-warning") PUT
                            th(scope="col") /drinks
                            th(scope="col") Change drink information by name
                        tr
                            th(scope="col" class="badge badge-pill badge-danger") DELETE
                            th(scope="col") /drinks
                            th(scope="col") Delete by name


              
            
