html
   head
        include partials/head.pug
        include partials/scripts
        body
            div(class="info")
                table(style="width:100%")
                    thead(class="thead-dark")
                        tr
                            th(scope="col") METHOD
                            th(scope="col") ROUTE
                            th(scope="col") RETURN
                            th(scope="col") TEST      
                    tbody
   
                        tr
                            th(scope="col") 
                                onclick= 'GET'
                            th(scope="col") /drinks
                            th(scope="col") Find all Drinks
                            th(scope="col") 
                                button(type="button" class="btn btn-lg btn-danger" data-toggle="popover" title="Popover title" data-content="And here's some amazing content. It's very engaging. Right?") Click to toggle popover   

                        tr
                            th(scope="col") GET
                            th(scope="col") /drinks/alcohol
                            th(scope="col") Find drink by alcohol
                        tr
                            th(scope="col") POST
                            th(scope="col") /drinks
                            th(scope="col") Find drink by name
                            
                        tr
                            th(scope="col") PUT
                            th(scope="col") /drinks
                            th(scope="col") Change drink information by name
                        tr
                            th(scope="col") DELETE
                            th(scope="col") /drinks
                            th(scope="col") Delete by name

              
            
