@import url('https://fonts.googleapis.com/css2?family=Hachi+Maru+Pop&display=swap');


.card{
    font-family: 'Hachi Maru Pop', cursive;


}
.jumbotron {
    background-image: url('drinks.jpeg') ;
    position: relative;
    text-align: center ;
    background-size:auto;
}

