

.jumbotron{
  
    background-image: url('drinks.jpeg') ;
    position: relative;
    /* width:385px; */
    /* background-repeat: inherit; */
    /* text-align: center ; */
    background-size:auto;
 
  
}